{% extends 'website/base.html'%}
{%block title%} Customer Records {%endblock%}


{% block content %}
<h1>Customer Records..</h1>
<div class="card">
    <div class="card-header">
       <strong> {{ customer_record.last_name }}, {{ customer_record.first_name }}</strong>
    </div>
    <div class="card-body">
      <h5 class="card-title">From {{ customer_record.address }},{{ customer_record.city }} </h5>
      <p class="card-text"><strong>Contact Information: </strong><br></p>
      <p class="card-text">📩-> {{ customer_record.email }}<br></p>
      <p class="card-text">📱->{{ customer_record.phone }} <br></p>
      <p class="card-text">Member Since: {{ customer_record.created_at|date:"M. d, Y" }}</p>
    </div>
  </div>
{% endblock %}